# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Directory used by tools like npm, Bower, and Grunt
node_modules/
bower_components/

# Dist directory used by tools like npm
dist/

# JetBrains IDE
.idea/

# MacOS
.DS_Store

# Environment Variables
.env
